name: Lint LaTeX

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install chktex
        run: sudo apt-get install -y chktex

      - name: Run chktex
        run: |
          shopt -s globstar
          chktex -q -n1 -I0 -f'%f:%l:%c:%d:%k:%n:%m\n' **/*.tex || true
